.wait-accept {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 10%;
    .notification-signup {
        width: 480px;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 4px;
    background-color: white;
    }

    button {
        border-radius: 4px;
        background-color: #3D3DF2;
        padding: 7px 14px;
        color: white;
    }
    
}