.wrap-admin {
    .bar-top {
        background-color: #272e32;
        padding: 10px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>img {
            height: 50px;    
        }

        &>ul {
            display: flex;
            justify-content: flex-end;
            li {
                padding: 0 20px;
                color: white;
                .logout {
                    margin-left: 21px;
                    cursor: pointer;
                }
                &:last-child {
                    display: flex;
                    .wrap-logo {
                        margin-left: 20px;
                    }
                    span {
                        display: block;
                        font-size: 0.8rem;
                        color: lightblue;
                        &:first-child {
                            color: white;
                            font-size: 1rem;
                        }

                    }
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }

    .title-option-admin {
        ul {
            padding: 0 100px;
            background-color: #2b3338;
            display: flex;
            a {
                text-decoration: none;
                color: white;
            }
            li {
            padding: 14px 20px;
            cursor: pointer;
            transition: 0.3s;
            i {
                margin-right: 5px;
            }
            &:hover {
                background-color: #c9d3de;
                color: #2b3338;
            }
        }
        }
        
    }

    .content-option-admin {
        padding: 70px 30px;
        .name-aplication {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 30px 0;
            div {
                display: flex;
                button {
                    background-color: #4aa54a;
                    border-radius: 3px;
                    padding: 5px 10px;
                    color: white;
                    margin-left: 12px;
                
                }
            }
        }

        .total-loyalty-program {
            
            table {
                width: 100%;
                border-collapse: collapse;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
                border-radius: 4px;
                thead {
                    background-color: #c7c5c5;
                    tr {
                        
                    }
                    th {

                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5) {
                            text-align: center;
                        }
                        text-align: left;
                        padding: 5px;
                        font-size: 0.9rem;
                    }
                }
                tbody {
                    tr {
                        
                        td {
                            text-align: left;
                            padding: 20px;
                            padding-left: 5px;
                            font-size: 0.8rem;
                            &:nth-child(3) {
                                color: #c17683;
                            }
                            &:nth-child(4) {
                                color: #1be4db;
                            }

                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5) {
                                padding-left: 20px;
                                text-align: center;
                            }

                            &:last-child {
                                select {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    padding: 5px 23px 5px 8px;
                                    border: none;
                                    background-color: #f2f5f7;
                                    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg);
                                    background-repeat: no-repeat;
                                    background-position: 51px 7px;
                                    background-size: 1rem;
                                    cursor: pointer;
                                    option {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive
@media (max-width: 768px) {
    .wrap-admin {
        .content-option-admin {
            padding: 0 21px;
            margin: 37px 0;
        }
    }
}