.wrap-members {
    .title-option-members {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        h1 {
            white-space: nowrap;
            font-size: 1.5rem;
        }
        &>div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            div {
                position: relative;
                margin-left: 10px;
                label {
                    display: block;
                    position: absolute;
                    bottom: 100%;
                }

                input {
                    height: 100%;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    
                    height: 30px;
                    padding: 0 5px;
                }
            }
            button {
                height: 30px;
                padding: 4px 7px;
                border-radius: 4px;
                color: white;
                margin-left: 10px;
                &:last-child {
                    background-color: lightblue;    
                    white-space: nowrap;
                }
            }

            .search-member {
                background-color: green;
            }

            .clear-search-member {
                background-color: grey;
            }

        }
    }

    .content-list-members {
        table {
            border-radius: 4px;
            border-collapse: collapse;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            width: 100%;
            background-color: white;
            tr {
                border-bottom: 1px solid #ddd;
                td,
                th {
                    padding: 5px;
                    text-align: center;
                    font-size: 0.9rem;
                    &:first-child {
                        text-align: left;
                    }
                }


            }
            thead {
                tr {
                    background-color: #f1f1f1;
                }
            }

            tbody {
                tr {
                    td {
                        padding: 8px 5px;
                        .balance-members {
                            border-radius: 999px;
                            padding: 2px 12px;
                            display: inline-block;
                            border: 1px solid #ddd;
                        }
                        .option-member {
                            position: relative;
                            div {
                                background-color: grey;
                                border-radius: 4px;
                                padding: 5px 10px 5px 0px;
                                color: white;
                                cursor: pointer;
                                position: relative;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    right: 15px;
                                    top: 8px;
                                    width: 7px;
                                    height: 7px;
                                    border-right: 1px solid white;
                                    border-bottom: 1px solid white;
                                    transform: rotate(45deg);
                                }
                            }
                            ul {
                                position: absolute;
                                top: 120%;
                                background-color: white;
                                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
                                padding: 5px 0;
                                border-radius: 4px;
                                right: 0;
                                li {
                                    i {
                                        margin-right: 6px;
                                    }
                                    cursor: pointer;
                                    padding: 5px 7px;
                                    text-align: left;
                                    white-space: nowrap;
                                    &:hover {
                                        color: white;
                                        background-color: lightblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

// remove default input type date

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button { display: none; }

input[type=date] {
    background: #fff url(./../../../assets/images/ic_date.svg) 97% 50% no-repeat;
}