.wrap-add-loyalty {
    &>h1 {
        margin-top: 20px;
        font-size: 1.5rem;
    }
    &>p {
        margin-bottom: 40px;
        font-size: 1rem;
    }

    .add-loyalty {
        display: flex;
        .option-add-loyalty {
            width: 600px;
            margin-right: 20px;
            height: max-content;
            padding: 17px;
            background-color: white;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
            border-radius: 4px;

            .wrap-collapse-loyalty {
                // input option program
                .input-option-program {
                    margin-bottom: 16px;
                    label {
                        margin-bottom: 5px;
                        font-size: 0.9rem;
                        display: block;
                    }
                    .form-text {
                        border: 1px solid #ddd;
                        width: 100%;
                        border-radius: 4px;
                        height: 32px;
                        padding: 5px;
                        &:focus {
                            border: 1px solid #ddd !important;
                        }
                    }

                    .time-checkin {
                        display: flex;
                        input[type=number] {
                            width: 60px;
                            margin-right: 10px;
                        }
                    }
                    textarea.form-text {
                        height: 99px;
                        resize: none;
                    }
                }
                // input option program

                
            }
        
            .collapsible-content {
                .item-reward-option {
                    margin: 30px 0;
                    .title-reward-option {
                        display: flex;
                        justify-content: space-between;
                        
                        border: 1px solid #ddd;
                        border-radius: 4px 4px 0 0;
                        cursor: pointer;
                        background-color: #f3e9e9;
                        &>div:first-child {
                            min-width: 60px;
                            background-color: #e6d0d0;
                            padding: 7px;
                            white-space: nowrap;
                            i {
                                color: #f1f112;
                                margin-left: 3px;
                            }
                        }
                        &>h4 {
                            width: 100%;
                            padding: 7px;
                            color: royalblue;
                            i {
                                margin-right: 4px;
                            }
                        } 
                        &>ul {
                            padding: 7px;
                            min-width: 70px;   
                            display: flex;
                            align-items: center;
                            justify-content: space-between; 
                            li {
                                color: #655b5b;
                            }
                        }
                    }

                    .content-reward-option {
                        max-height: 0px;
                        overflow: hidden;
                        transition: 0.2s;
                        padding: 0 8px;
                        background-color: #f9f5f5;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                    }
                }


                .wrap-option-screen {
                    
                    .screen-option {
                        
                        margin: 30px 0;
                        .title-screen-option {
                            display: flex;
                            justify-content: space-between;
                            padding: 7px;
                            border: 1px solid #ddd;
                            border-radius: 4px 4px 0 0;
                            cursor: pointer;
                            background-color: #d2cdcd;
                            &>div:first-child {
                                display: flex;
                                align-items: center;
                                font-size: 0.8rem;
                                i {
                                    color: green;
                                    margin-right: 5px;
                                }
                                h4 {
                                    color: green;
                                }
                            }

                            ul {
                                li {
                                    margin-left: 4px;
                                    color: #655b5b;
                                }
                            }
                        }

                        .content-screen-option {
                            max-height: 0;
                            overflow: hidden;
                            padding:  0 10px ;
                            transition: 0.4s;
                            background-color: #e4e2e2;

                            .find-url {
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;
                                div {
                                    margin-right: 10px;
                                }
                                button {
                                    color: white;
                                    border-radius: 4px;
                                    background-color: blue;
                                    height: 32px;
                                    padding: 0 10px;
                                    margin-bottom: 16px;   
                                }
                                & + div {
                                    label {
                                        display: block;
                                    }
                                } 
                            }

                            input[type=range]::-webkit-slider-runnable-track {
                                width: 100%;
                                height: 10px;
                                cursor: pointer;
                                // animate: 0.2s;
                                background-color: white;
                                border-radius: 5px;

                            }
                            input[type=range]::-webkit-slider-thumb {
                                height: 20px;
                                width: 20px;
                                border-radius: 999px;
                                background: black;
                                cursor: pointer;
                                -webkit-appearance: none;
                                margin-top: -5px;
                            }
                            
                            input[type=color] {
                                -webkit-appearance: none;
                                border: none;
                                height: 32px;
                                padding: 0;
                            }
                            
                            input[type=color]::-webkit-color-swatch-wrapper {
                                padding: 0;
                            }
                            input[type=color]::-webkit-color-swatch {
                                border: none;
                            }
                        }

                    }

                    .add-item-screen {
                        text-align: center;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        padding: 6px;
                        cursor: pointer;
                        i {
                            color: green;
                            margin-right: 5px;
                        }
                        span {
                            color: green; 
                        }
                    }
                }
                

                .add-item-reward {
                    text-align: center;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    padding: 6px;
                    cursor: pointer;
                    i {
                        color: #9c949c;
                        margin-right: 5px;
                    }
                    span {
                        color: #9c949c; 
                    }
                }
            }
        
            .group-btn-loyalty {
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                button {
                    &:first-child {
                        color: red;
                        margin-right: 10px;
                    }

                    &:last-child {
                        color: white;
                        padding: 7px 7px;
                        background-color: green;
                        border-radius: 4px;
                    }
                }
            }
        }

        .screen-add-loyalty {
            // position: relative;
            position: sticky;
            top: 50px;
            min-height: 300px;
            height: max-content;
            &>h4 {
                position: absolute;
                bottom: 100%;
                color: #ddd;
            }
            width: 100%;
            background-color: white;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            .screen-loyalty {
                height: max-content;
                .enter-phone {
                    input {
                        background-color: rgb(26, 150, 187);
                    }
                }
                
            }
            .no-screen-checkin {
                height: 400px;
                padding: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                &>i {
                    display: block;
                }

                h3 {
                    margin-bottom: 20px;
                }

            }
        }
    }
}


// =========== collapse ===========
input[type='checkbox'] {
    display: none;
  }
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: left;
  
    padding: 1rem;
  
    color: black;
    background: white;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .collapsible-content .content-inner {
    border-bottom: 1px solid #ddd;
    padding: .5rem 1rem;
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
  }
  

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
  }

//   responsive
@media (max-width: 992px) {
    .wrap-checkin {
        .information-reward {
            h1 {
                font-size: 1.4rem;
                + p {
                    font-size: 0.8rem;
                }
            }
        }

        .enter-phone {
            padding: 14px;
            h4 {
                font-size: 1rem;
            }
            .group-number-phone {
                span {
                    width: 30%;
                    line-height: 36px;
                    height: 36px;
                    border-radius: 4px;
                }
            }

            .form-input-phone {
                i {
                    font-size: 1rem;
                }

                input {
                    height: 40px;
                    
                }
            }

            button {
                padding: 6px;
                border-radius: 5px;
                width: 64%;
            }
        }
    }
}

@media (min-width: 992px) {
    .wrap-checkin {
        

        .enter-phone {
            padding: 14px;
            h4 {
                font-size: 1rem;
            }
            .group-number-phone {
                span {
                    width: 30%;
                }
            }

            
        }
    }
}
  

//   class outside
.maxheight-auto {
    max-height: 100vh !important;
    border-bottom: 1px solid #ddd;
    padding: 10px 8px !important;
}

.maxheight-auto-screen {
    padding: 30px 10px !important;
    max-height: 100% !important;
}