.wrap-manage-member {
    display: flex;
    justify-content: space-between;
    margin: -70px -30px;
    background-color: #f2f5f7;
    padding: 30px 100px;
    .manage-member {
        margin-right: 50px;
        width: 500px;
        padding: 30px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        height: max-content;
        h3 {
            i {
                margin-right: 6px;
            }
        }

        &>div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            &>div {
                border-radius: 4px;
                border: 1px solid #ddd;
                text-align: center;
                padding: 4px 20px;
                margin: 10px 0;
                p {
                    i {
                        margin-right: 5px;
                        
                        
                    }
                }
                
            }
            .points-balance {
                i {
                    color: yellow;
                }
            }

            .last-seen {
                i {
                    color: green;
                }
            }
        }

        .form-name-member,
        .form-phone-member {
            margin-bottom: 13px;
            label {
                display: block;
            }
            input {
                width: 100%;
                border-radius: 4px;
                border: 1px solid #ddd;
                height: 32px;
                background-color: #f2f5f7;
            }
            
        }

        .btn-manage-member {
            display: flex;
            justify-content: flex-end;
            button {
                padding: 5px 8px;
                border-radius: 4px;
                margin-left: 8px;
                &:first-child {
                    color: red;

                }
                &:last-child {
                    color: white;
                    background-color: green;
                }
            }
        }
    }

    .active-member {
        
        // width: 500px;

        .title-member-active {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            padding-left: 58px;
            align-items: center;
            h4 {
                color: #867272;
            }
            h5 {
                color: #5e5ef1;
                i {
                    margin-left: 5px;
                }
            }
        }

        .content-member-active {
            &>div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 60px;
                &:first-child {
                    .item-milestones-member:before {
                        display: none;
                    }
                    &>i {
                        color: #5f175f;
                    }
                }

                &:last-child {
                    .item-milestones-member:after {
                        display: none;
                    }
                    &>i {
                        color: lightblue;
                    }
                }

                &>i {
                    font-size: 1.3rem;
                    position: relative;
                    z-index: 12;
                    color: #eaea1b;
                }
                .item-milestones-member {
                    padding: 20px;
                    margin-left: 37px;
                    border-radius: 4px;
                    background-color: white;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
                    position: relative;
                    z-index: 10;
                    width: 400px;
                    &>div {
                        display: flex;
                        justify-content: space-between;
                        &:nth-child(2) {
                            margin-top: 8px;
                            div {
                                i {
                                    cursor: pointer;
                                    margin-left: 7px;
                                    font-size: 0.8rem;
                                    &:last-child {
                                        color: red;
                                    }
                                }
                            }
                        }
                        small {
                            font-size: 0.7rem;
                        }
                        h5 {
                            font-size: 1rem;
                        }
                        p {
                            width: 60%;
                        }
                    }

                    .edit-points-member {
                        transition: 0.4s;
                        overflow: hidden;
                        max-height: 0;
                        display: block;
                        margin-top: 10px;
                        label {
                            display: block;
                        }
                        input {
                            border-radius: 4px;
                            border: 1px solid #ddd;
                            height: 32px;
                            margin-right: 8px;
                            padding: 0 5px;
                            
                        }
                        button {
                            color: white;
                            background-color: green;
                            border-radius: 4px;
                            height: 32px;
                            padding: 0 7px;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 2px;
                        background-color: #f2f5f7;
                        left: -49px;
                        bottom: var(--spacingMilestones);
                        height: var(--heightMilestones);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 2px;
                        background-color: #2b3338;
                        left: -49px;
                        top: var(--spacingMilestones);
                        height: var(--heightMilestones);
                    }
                }
            }
        }
    }
}

.item-milestones-member {
    --heightMilestones : 0px;
    --spacingMilestones : 59%;
}

.height-point-member {
    max-height: max-content !important;
}