.total-loyalty-program {
    table {
        tr {
            td {
                a {
                    color: lightblue;
                }
            }
        }
    }
}

// style component add name device
.add-name-device {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 500;
    justify-content: center;
    align-items: flex-start;
    .add-device {
        margin-top: 27px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        width: 413px;
        padding: 24px ;
        position: relative;
        h4 {
            font-size: 19px;
            color: #0f2533;
        }

        p {
            margin: 24px 0;
            font-size: 16px;
            color: #74818a;
        }

        input[type=text] {
            width: 100%;
            border: 1px solid #ddd;
            padding: 7px;
            border-radius: 4px;
        }
        div.btn-add-device {
            text-align: right;
            margin-top: 10px;
            button {
                padding: 8px 12px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background-color: #fff;
                margin-left: 8px;
                font-size: 14px;
                
                
            }
            button.cancel {
                color: red;
            }
        }
    }
}

.action-list-program {
    position: relative;
    line-height: 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    padding: 3px;
    &:after {
        position: absolute;
        content: '\f107';
        font-weight: bold;
        font-family: 'Font Awesome 5 Free';
        top: 4px;
        right: 7px;
    }
    span {
        text-align: left;
        display: block;
        cursor: pointer;
        
    }

    ul {
        
        position: absolute;
        top: 32px;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        font-size: 1rem;
        right: 0;
        text-align: left;
        li {
            cursor: pointer;
            padding: 0 5px;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}
