.wrap-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 500;
    justify-content: center;
    align-items: flex-start;
    .popup {
        margin-top: 27px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
        width: 413px;
        padding: 24px ;
        position: relative;
        h4 {
            font-size: 19px;
            color: #0f2533;
        }

        p {
            margin: 24px 0;
            font-size: 16px;
            color: #74818a;
        }
        div {
            text-align: right;
            button {
                padding: 8px 12px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background-color: #fff;
                margin-left: 8px;
                font-size: 14px;
                
                
            }
            button.cancel {
                color: red;
            }
        }
    }
}