.confirm-phone {
    h1 {
        letter-spacing: 2px;
    }
    p:nth-child(2) {
        margin: 57px 0;
        font-size: 3rem;
        color: #901390;
    }
    button {
        border-radius: 999px;
        padding: 14px;
        width: 200px;
        text-align: center;
        color: white;
        background-color: #901390;
        margin-bottom: 40px;
    }
    p {
        font-weight: bold;
    }
}

.confirm-name,
.confirm-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.confirm-name {
    
        button {
            border-radius: 999px;
            padding: 14px;
            width: 200px;
            text-align: center;
            color: white;
            background-color: #901390;
            margin-bottom: 70px;
            opacity: 0.8;
            font-size: 1.2rem;
        }

        input {
            padding: 10px 30px;
            font-size: 2rem;
            border-bottom: 1px solid #ddd;
            margin: 34px 0;
            text-align: center;
            &:focus {
                border-bottom: 1px solid #ddd !important;
            }
        }
    }