.confirm-reward {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    h1 {
        font-size: 2.5rem;
    }

    h1 + p {
        font-size: 1.3rem;
    }

    .total-reward {
        padding: 20px;
        margin: 0 7px;
        border-radius: 4px;
        min-width: 250px;
        background-color: #901390;
        color: white;
        text-align: center;
        margin: 50px 0;
        h4 {
            margin: 20px;
        }
        p {
            margin-bottom: 20px;
            color: white;
        }
        &>div:last-child {
            i {
                font-size: 1.2rem;
                color: yellow;
            }
        }
        &>div:first-child {
            i {
                margin-right: 5px;
                color: yellow;
            }
        }
    }

    .btn-confirm-reward {
        button {
            border-radius: 999px;
            padding: 14px;
            width: 200px;
            text-align: center;
            color: white;
            background-color: #901390;
            margin: 60px 0 40px;
        }
    }
    
}