.wrap-result-points {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    &>h1 {
        font-size: 3rem;
    }

    .info-point-user {
        padding: 10px;
        border-radius: 7px;
        background-color: #f34060;
        margin: 30px 0 40px;
        h4 {
            color: white;
        }
        &>div:nth-child(2) {
            padding: 30px 0;
            display: flex;
            align-items: center;
            border-bottom: 1px solid white;
            img {
                width: 70px;
                margin-right: 10px;
            }
            img + div {
                h2, p {
                    color: white;
                }
            }
        }
        &>div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 0;
            color: white;
        }
    }

    &>button {
        width: 300px;
        padding: 20px;
        color: white;
        font-weight: 500;
        border-radius: 999px;
        background-color: #17176b;
        opacity: 0.8;
        margin-top: 28px;  
    }
}