.search {
    width: 200px;
    margin-left: auto;
    position: relative;
    input[type=text] {
        background-color: #F2F5F7;
        border: 1px solid #D1D9DE;
        border-radius: 16px;
        padding: 0 14px;
        width: 100%;
        height: 29px;
    }
    img {
        right: 7px;
        top: 4px;
        width: 23px;
        position: absolute;
    }
}