
#wrap-auto-logout {
    position: absolute;
    width: 50px;
    height: 50px;
     animation: colors 4s infinite;
  }
  
  #halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
     overflow: hidden;
     transform-origin: left center;
     animation: cliprotate 8s steps(2) infinite;
     -webkit-animation: cliprotate 8s steps(2) infinite;
  }
  
  .halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 10px transparent;
     border-top-color: #ddd;
     border-left-color: #ddd;
     border-radius: 50%;
  }
  #clipped {
    width: 200%;
     animation: rotate 4s linear infinite;
     -webkit-animation: rotate 4s linear infinite;
  }
  #fixed {
    width: 100%;
      transform: rotate(135deg);  
     animation: showfixed 4s steps(2) infinite;
     -webkit-animation: showfixed 4s linear infinite;
  }
  
  @-webkit-keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  
  @keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  
  
  @-webkit-keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
  }
  
  @keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
  }
  
  @-webkit-keyframes showfixed {
    0% {opacity: 0;}
    49.9% {opacity: 0;}
    50% {opacity: 1;}
   100% {opacity: 1;}
  }
  
  #seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 2rem;
  }