.wrap-detail-program {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .popup-detail-program {
        width: 80%;
        padding: 20px 60px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        h1 {
            margin: 30px 0;
        }

        ul {
            text-align: left;
            &:nth-child(3) {
                margin-bottom: 20px;
                i {
                    margin-right: 6px ;
                    color: #17176b;
                }
            }

            &:nth-child(4) {
                i {
                    color: silver;
                }
            }
            li {
                margin-bottom: 7px;
            }
        }
        button {
            width: 300px;
            padding: 20px;
            color: white;
            font-weight: 500;
            border-radius: 999px;
            background-color: #17176b;
            opacity: 0.8;
            margin-top: 28px;
            
            &:hover {
                opacity: 1;
            }
        }
    }
}

.wrap-checkin {
    display: flex;
    height: 100%;
    .information-reward {
        width :60%;
        padding: 0 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
            

            img {
                max-width: 200px;
            }

            h1 {
                text-align: center;
                font-size: 2rem;
                margin: 25px 0;
                color: #824c4c;
            }

            h1 + p {
                text-align: center;
                margin-bottom: 25px;
                font-weight: 500;
                font-size: 1.1rem;
            }
        button {
            max-width: 300px;
            padding: 10px;
            text-align: center;
            width: 100%;
            color: #cc4159;
            border-radius: 4px;
            border: 1px solid #cc4159;
            font-weight: 600;
            transition: 0.4s;
            &:hover {
                color: white;
                background-color:  #cc4159;
            }
        }
    }
    .enter-phone {
        width: 40%;
        border-radius: 50px 0 0 50px;
        background-color: #cc4159;
        padding: 20px;
        text-align: center;
        h4 {
            color: #921919;
            margin-top: 50px;
            font-size: 1.5rem;
            margin-bottom: 12px;
        }

        .form-input-phone {
            position: relative;
            input {
                border-radius: 7px;
                height: 60px;
                background-color: #17176b;
                opacity: 0.8;
                width: 100%;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;
                padding: 0 10px;
            }
            i {
                position: absolute;
                right: 11px;
                font-size: 2rem;
                color: white;
                top: 12px;
                cursor: pointer;
            }
        }
        

        .group-number-phone {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-bottom: 20px;
            span {
                margin-bottom: 10px;
                display: inline-block;
                width: 70px;
                line-height: 70px;
                height: 70px;
                font-weight: bold;
                vertical-align: middle;
                background-color: #a01f1f;
                opacity: 0.8;
                color: white;
                border-radius: 8px;
                cursor: pointer;
                &:last-child {
                    margin: 0 auto;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        button {
            width: 100%;
            text-align: center;
            color: white;
            background-color: #17176b;
            padding: 20px;
            border-radius: 10px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
}

// wrap star
.wrap-star {
    i {
        color: #efef0b;
        &:nth-child(2) {
            font-size: 1.5rem;
            margin: 0 5px;
        }
    }
}