// TABLE COMMON

$border-table: 1px solid #ddd;
$bg-table: #f0f3f5;
$bg-table-hover: #F7FAFC;

// COMMON
$color-common: #ddd;

// LEFT-MENU
$width-left-menu: 80px;
$color-left-menu: #0d2b40;

// HEADER
$height-header: 60px;
$color-header: #fff;

// COLORS
$bg-color-gray-light: #f2f5f7;

// BUTTON
$color-button: #3d3df2;

// CHECKBOX
$md-checkbox-checked-color: #3d3df2;
$md-checkbox-border-color: #aaa;
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-size: 1.5em;
$md-checkbox-padding: 0.25em;
$md-checkbox-border-width: 1px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: 0.75em;

//MODAL
$color-modal: #fff;

// MIXINS
@mixin flex-center ($align, $justify) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
}

@mixin block-center {
	display: block;
	margin: 0 auto;
}

// RESET CSS

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Noto Sans JP', sans-serif;
}

body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
form,
label,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	line-height: 1;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

textarea {
	resize: none;
}

// CHECKBOX CUSTOM
.md-checkbox-custom {
	margin: 25px 0;
	position: relative;
	text-align: left;

	&.md-checkbox-inline {
		display: inline-block;
	}

	label {
		clear: both;
		cursor: pointer;
		display: inline;
		line-height: $md-checkbox-size;
		// vertical-align: top;
		padding-left: 1px;

		&:not(:empty) {
			padding-left: $md-checkbox-label-padding;
		}

		&:before,
		&:after {
			content: '';
			left: 0;
			position: absolute;
			top: 0;
		}

		&:before {
			background: #fff;
			border: $md-checkbox-border-width solid $md-checkbox-border-color;
			border-radius: $md-checkbox-border-radius;
			cursor: pointer;
			height: $md-checkbox-size;
			transition: background .3s;
			width: $md-checkbox-size;
		}
	}

	input[type="checkbox"] {
		outline: 0;
		visibility: hidden;
		width: $md-checkbox-size;
		margin: 0;
		display: block;
		float: left;
		font-size: inherit;

		&:checked {
			+label:before {
				background: $md-checkbox-checked-color;
				border: none;
			}

			+label:after {
				$md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;
				border: $md-checkmark-width solid $md-checkmark-color;
				border-right-style: none;
				border-top-style: none;
				height: $md-checkmark-size / 2;
				transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
				width: $md-checkmark-size;
			}
		}

		&:disabled {
			+label:before {
				border-color: $md-checkbox-border-color-disabled;
			}

			&:checked {
				+label:before {
					background: $md-checkbox-checked-color-disabled;
				}
			}
		}
	}
}

// SEARCH CUSTOM
.search-custom {
	@include flex-center(center, space-between);
	width: max-content;

	.searchbox {
		width: 200px;
		height: 32px;
		border: 1px solid #D1D9DE;
		border-radius: 16px;
		font-size: 14px;
		color: #222222;
		padding: 7px 12px;
		background: url('/img/action/ic_search_svg.svg') 95% no-repeat;
		margin-right: 10px;
	}

	.button {
		background: #3D3DF2;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 500;
		border: none;
		color: #fff;
		padding: 8px 14px;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			background: #5454e3;
		}

		&::before {
			background: url('/img/ic_add_svg.svg') left no-repeat;
			content: '';
			display: inline-block;
			height: 12px;
			width: 25px;
		}
	}
}

.modal-custom {
	height: 100%;
	left: 50%;
	position: fixed;
	top: 0;
	transform: translateX(-50%);
	width: 100%;

	.modal {
		@include flex-center(null, center);
		height: 100vh;
		width: 100%;

		.modal-content {
			background-color: $color-modal;
			border-radius: 8px;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
			height: max-content;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 480px;

			.modal-header {
				padding: 24px;

				span {
					color: #0F2533;
					font-family: ABeeZee;
					font-size: 16px;
					// font-style: italic;
					line-height: 16px;
				}
			}

			.modal-body {
				padding: 0 24px;

				form {
					width: 100%;

					.form-group {
						display: flex;
						margin-bottom: 1rem;
						margin-left: 0;

						.label-text {
							@include flex-center(center, flex-start);
							color: #74818a;
							font-size: 14px;
							min-width: 90px;
						}

						input {
							background: $color-modal;
							border: 1px solid #d1d9de;
							border-radius: 4px;
							height: 36px;
							padding: 10px;
							width: 100%;
						}
					}
				}

				p {
					font-size: 14px;

					&.message-confirm {
						color: #74818A;
						margin-bottom: 24px;
					}

					&.info-message {
						color: #222222;
						margin-bottom: 36px;
					}
				}
			}

			.modal-footer {
				padding: 8px;
				text-align: right;

				button {
					background: $color-modal;
					border: 1px solid #d1d9de;
					border-radius: 4px;
					color: #0f2533;
					cursor: pointer;
					font-size: 14px;
					font-weight: 500;
					height: 36px;
					line-height: 20px;

					&:first-child {
						margin-right: 8px;
					}
				}
			}
		}
	}
}

.select-custom {
	font-size: 14px;
	color: #222222;
	height: 36px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #D1D9DE;
	border-radius: 4px;
	padding: 7px 11px;
	background: url(/img/ic_arrow_down1.svg) 95%/9px no-repeat white;
	-webkit-appearance: none;
}

button:disabled {
	color: grey !important;
	cursor: default;
}

// scroll all page
//* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #D1D9DE;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #D1D9DE;
}