
  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #3f51b5;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #F2F5F7;  
}

.wrap-login100 {
  width: 390px;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 4px;
}

.submit-login {
    background-color: #292F33;
    border-radius: 4px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 48px;
  border: none;
  opacity: 1;
  text-transform: uppercase;
  transition: all 0.3s;
  color: white;
  &:hover {
      background: #292f33eb;
  box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.75);
  }
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  input {
      background: #FFFFFF;
      border: 1px solid #D1D9DE;
      border-radius: 4px;
      height: 48px;
      max-height: none;
      width: 100%;
      padding: 0 1rem;
      font-size: 14px;
  }
}

.input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  background-color: rgb(232, 240, 254);
  display: block;
  width: 100%;
  height: 52px;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 25px;
  opacity: 0.6;
  bottom: 52px;
  left: 0;
  pointer-events: none;
}




.p-b-20 {
  padding-bottom: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}


.back-page {
    i {
        font-size: 15px;
  color: #999999;
  line-height: 1.5;
  margin-right: 7px;
    }
}
