.super-admin {
    display: flex;

    main {
        width: 100%;
        position: relative;
        .header-super-admin {
            padding: 0 24px;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            height: 60px;
            background-color: #ddd;
            background: #fff;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 100;
            img {
                margin-left: 30px;
                cursor: pointer;
            }
        }

        .content-super-admin {
            
            .title {
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 24px;
                background-color: white;
                box-shadow: 0 1px 0px 0 #d1d9de;
            }

            .content {
                padding: 24px;
            }
        }

        .footer-super-admin {
            position: absolute;
            bottom: 0;
            height: 50px;
            box-shadow: 0px -3px 2px -2px #d1d9de;
            width: 100%;
            line-height: 50px;
            text-align: right;
        }
        
        
    }
}