@import '../../../common/styles';

.left-menu {
    height: 100%;

    .left-menus {
        width: $width-left-menu;
        background: $color-left-menu;
        height: max-content;
        min-height: 100%;

        @include flex-center(center, null);
        flex-direction: column;
        .content:not(:first-child) {
            cursor: pointer;
        }
        .content {

            width: 80px;
            height: 74px;
            
            flex-direction: column;
            @include flex-center(center, center);

            &:first-child {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 88px;
                min-height: 88px;
            }

            .item {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                white-space: nowrap;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    // border-radius: 50%;
                }

                &.active {
                    width: 100%;
                    background-color: #253498;

                    &:hover {
                        pointer-events: none;
                        width: 100%;
                        border-radius: 0
                    }
                }

                .icon {
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;

                    img {
                        width: 24px;
                    }
                }

                .item-name {
                    color: #FFFFFF;
                    font-size: 10px;
                    font-weight: bold;
                    line-height: 12px;
                    text-align: justify;
                }
            }

            .notification {
                .icon {
                    position: relative;
                }

                div.ic-notification {
                    position: absolute;
                    top: 4px;
                    right: 1px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #D50000;
                    color: #FFFFFF;
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    line-height: 11px;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }
}