.wrap-earn-reward {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>h1 {
        font-size: 3rem;
    margin-bottom: 13px;
    text-align: center;
    }

    .pointed {
        margin: 0 auto;
        border: 1px solid;
        display: inline-block;
        border-radius: 999px;
        padding: 5px 10px;
        margin-bottom: 20px;
        i {
            color: #efef23;
        }

        span {
            color: #901390;
            font-weight: bold;
        }
    }
    .total-level-reward {
        display: flex;
        justify-content: space-between;
        overflow: auto;
        align-items: flex-end;
        .item-reward-active {
            &>div:first-child {
                color: #901390;
            }
                &>div:last-child {
                    background-color: #901390;
                    border: 2px solid #901390;
                    h4,
                    p {
                        color: white;
                    }
                    &>div:last-child {
                        color: #efef23;
                    }
                    &>div:first-child {
                        i {
                            color: yellow;
                        }
                        span {
                            color: white;
                        }
                    }
                }
                
        }
        .item-reward-disabled  {
            &:first-child {

            }
            &>div:last-child {
                border: 2px solid #d2d5d7;
                opacity: 0.4;
            }

            
        }

        .item-reward  {
            &:first-child {

            }
            &>div:last-child {
                padding: 10px;
                margin: 0 7px;
                border-radius: 4px;
                min-width: 300px;
                .name-level {
                    font-size: 1.3rem;
                    margin: 7px 0;
                }

                &>div:first-child {
                    i {
                        margin-right: 4px;
                    }
                    span {
                        font-weight: 600;
                    }
                }

                .description-level {
                    margin-bottom: 20px;
                }
            }

            
        }

        
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            }
    }

    .btn-reedeem-reward {
        button {
            border-radius: 999px;
            padding: 14px;
            width: 200px;
            text-align: center;
            color: white;
            background-color: #901390;
            margin: 60px 0 40px;
        }
    }

    .btn-reedeem-reward + a {
        font-weight: 700;
        font-size: 1.2rem;  
    }



// scroll bar

}
